@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
}

select,input,textarea {
  border: 1px solid #c2c2c2;
  outline-color: #975b65;
  border-radius: 4px;
}

.active {
  background-color: #e4e4e4;
  color: black;
}